<a href="https://colab.research.google.com/github/sa0753/sangeeta/blob/master/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise**

(1) Write a Python program to calculate the length of a string.

In [0]:
# write your answer here
# Length of below string is 10 
string = "short" 
print(len(string)) 
  
# Length of below string is 20 
string = "medium" 
print(len(string))

5
6

(2) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [0]:
# write your answer here
def char_frequency(str1):
    dict = {}
    for n in str1:
        keys = dict.keys()
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1
    return dict
print(char_frequency('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list

In [0]:
thislist = {"red","yellow","green"}
print(thislist)

{'red', 'green', 'yellow'}

In [0]:
# write your answer here

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. 

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [0]:
# write your answer here
def change_char(str1):
  char = str1[0]
  str1 = str1.replace(char, '$')
  str1 = char + str1[1:]

  return str1

print(change_char('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$

In [0]:
# write your answer here

(6) Write a Python program to concatenate following dictionaries to create a new one. 

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [0]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple.

In [0]:
thistuple = ("lol","smile","angry","sad","excited","worried")
print ("sad")
print ("angry")

sad
angry

(8) Write a Python program to find maximum and the minimum value in a set.

In [0]:
# write your answer here
thisset = {"10","20","30","40","50","60","70"}
print (max(thisset))
print (min(thisset))

70
10

(9) Write a Python program to randomly divide the students in this class into four groups for term projects. Here is the students list:

studnet_list = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216',
                'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080',
                'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']

In [0]:
# write your answer here
import random
student = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216', 'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080',
        'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']
sampling = random.choices(list, k=6)
print("Randomly selected multiple options using random choices())",
      sampling)

SyntaxError: ignored

In [0]:
import random
student = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216', 'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080',
        'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']
print(student)
sampling = random.choices(student, k=6)
print(sampling)

['sa0753', 'laa0240', 'lba0043', 'pb0283', 'vmb0067', 'vcd0017', 'ag1121', 'lg0426', 'mj0396', 'ak0860', 'vk0222', 'vk0216', 'tpk0023', 'nk0327', 'mk0830', 'tbl0041', 'al0787', 'am1823', 'sm1515', 'km0738', 'hn0139', 'an0521', 'ap0975', 'dp1080', 'pk0292', 'vp0241', 'rp0477', 'hr0178', 'ps0501', 'ss1976', 'ss1872', 'ss1872', 'bs0490', 'pt0218', 'ry0104']
['mj0396', 'ss1976', 'vp0241', 'ss1872', 'ap0975', 'tpk0023']