# **The fourth in-class-exercise (reference answer)**

Provided by psameni

# 1. Text Data Preprocessing

Here is a [legal case](https://github.com/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/01-05-1%20%20Adams%20v%20Tanner.txt) we collected from westlaw, please follow the steps we mentioned in lesson 5 to clean the data:



## 1.1 Basic feature extraction using text data

*   Number of sentences
*   Number of words
*   Number of characters
*   Average word length
*   Number of stopwords
*   Number of special characters
*   Number of numerics
*   Number of uppercase words

## 1.2 Basic Text Pre-processing of text data

*   Lower casing
*   Punctuation removal
*   Stopwords removal
*   Frequent words removal
*   Rare words removal
*   Spelling correction
*   Tokenization
*   Stemming
*   Lemmatization

## 1.3 Save all the **clean sentences** to a **csv file** (one column, each raw is a sentence) after finishing all the steps above.


## 1.4 Advance Text Processing

*   Calculate the term frequency of all the terms.
*   Print out top 10 1-gram, top 10 2-grams, and top 10 2-grams terms as features.

In [0]:
import pandas as pd

text_file="https://raw.githubusercontent.com/unt-iialab/INFO5731_Spring2020/master/In_class_exercise/01-05-1%20%20Adams%20v%20Tanner.txt"
csv_data=pd.read_csv(data_file,error_bad_lines=False,names=['Sentences to print'])
csv_data.head(10)
csv_data.head(20)

                                   Sentences to print
0                                          5 Ala. 740
1                           Supreme Court of Alabama.
2                                               ADAMS
3                                                  v.
4                                  TANNER AND HORTON.
5                                           June Term
6                                            Synopsis
7       WRIT of Error to the Circuit Court of Sumter.
8
9                                  West Headnotes (2)
10                                                [1]
11                                  Chattel Mortgages
12                                              Crops
13  A growing crop has such an existence as to be ...
14                    4 Cases that cite this headnote
15                                                [2]
16                                Creditors’ Remedies
17                                  Lien and Priority
18                                      Under St.1821
19                    5 Cases that cite this headnote

In [0]:

print("num of sentences :",len(csv_data['sentence']))

num of sentences : 148

In [0]:

csv_data['word_count']=csv_data['sentence'].apply(lambda x: len(x.split(" ")))

csv_data[['sentence','word_count']].head(10)

                                        sentence  word_count
0                                     5 Ala. 740           3
1                      Supreme Court of Alabama.           4
2                                          ADAMS           1
3                                             v.           1
4                             TANNER AND HORTON.           3
5                                      June Term           2
6                                       Synopsis           1
7  WRIT of Error to the Circuit Court of Sumter.           9
8                                                          1
9                             West Headnotes (2)           3

In [0]:

csv_data['alphabet_count']=csv_data['sentence'].str.len()

csv_data[['sentence','alphabet_count']].head(10)

                                        sentence  alphabet_count
0                                     5 Ala. 740              10
1                      Supreme Court of Alabama.              25
2                                          ADAMS               5
3                                             v.               2
4                             TANNER AND HORTON.              18
5                                      June Term               9
6                                       Synopsis               8
7  WRIT of Error to the Circuit Court of Sumter.              45
8                                                              1
9                             West Headnotes (2)              18

In [0]:

def avg_word(sentence):
    words=sentence.split()
    if len(words)!=0:
     return(sum(len(word) for word in words)/len(words))
    else:
     return 0

csv_data['word lenght']=csv_data['sentence'].apply(lambda x: avg_word(x))
csv_data[['sentence','word lenght']].head(10)

                                        sentence  word lenght
0                                     5 Ala. 740     2.666667
1                      Supreme Court of Alabama.     5.500000
2                                          ADAMS     5.000000
3                                             v.     2.000000
4                             TANNER AND HORTON.     5.333333
5                                      June Term     4.000000
6                                       Synopsis     8.000000
7  WRIT of Error to the Circuit Court of Sumter.     4.111111
8                                                    0.000000
9                             West Headnotes (2)     5.333333

In [0]:

from nltk.corpus import stopwords

import nltk
nltk.download('stopwords')
stop=stopwords.words('english')

csv_data['stop word counts']=csv_data['sentence'].apply(lambda x: len([y for y in x.split() if y in stop]))
csv_data[['sentence','stop word counts']].head(10)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                        sentence  stop word counts
0                                     5 Ala. 740                 0
1                      Supreme Court of Alabama.                 1
2                                          ADAMS                 0
3                                             v.                 0
4                             TANNER AND HORTON.                 0
5                                      June Term                 0
6                                       Synopsis                 0
7  WRIT of Error to the Circuit Court of Sumter.                 4
8                                                                0
9                             West Headnotes (2)                 0

In [0]:

csv_data['specialcount']=data['sentence'].apply(lambda x: len([y for y in x.split() if y.startswith(('#','@'))]))
csv_data[['sentence','specialcount']].head(10)

                                        sentence  specialcount
0                                     5 Ala. 740             0
1                      Supreme Court of Alabama.             0
2                                          ADAMS             0
3                                             v.             0
4                             TANNER AND HORTON.             0
5                                      June Term             0
6                                       Synopsis             0
7  WRIT of Error to the Circuit Court of Sumter.             0
8                                                            0
9                             West Headnotes (2)             0

In [0]:
csv_data['num count']=csv_data['sentence'].apply(lambda x: len([y for y in x.split() if y.isdigit()]))
csv_data[['sentence','num count']].head(10)

                                        sentence  num count
0                                     5 Ala. 740          2
1                      Supreme Court of Alabama.          0
2                                          ADAMS          0
3                                             v.          0
4                             TANNER AND HORTON.          0
5                                      June Term          0
6                                       Synopsis          0
7  WRIT of Error to the Circuit Court of Sumter.          0
8                                                         0
9                             West Headnotes (2)          0

In [0]:

csv_data['Uppercase count']=csv_data['sentence'].apply(lambda x: len([y for y in x.split() if y.isupper()]))
csv_data[['sentence','Uppercase count']].head(10)

                                        sentence  Uppercase count
0                                     5 Ala. 740                0
1                      Supreme Court of Alabama.                0
2                                          ADAMS                1
3                                             v.                0
4                             TANNER AND HORTON.                3
5                                      June Term                0
6                                       Synopsis                0
7  WRIT of Error to the Circuit Court of Sumter.                1
8                                                               0
9                             West Headnotes (2)                0

In [0]:

csv_data['sentence']=data['sentence'].str.lower()
csv_data['sentence'].head(10)

0                                       5 ala. 740
1                        supreme court of alabama.
2                                            adams
3                                               v.
4                               tanner and horton.
5                                        june term
6                                         synopsis
7    writ of error to the circuit court of sumter.
8
9                               west headnotes (2)
Name: sentence, dtype: object

In [0]:

import string
csv_data['sentence']=csv_data['sentence'].str.replace('[{}]'.format(string.punctuation), '')
csv_data['sentence'].head(10)




from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')
stop=stopwords.words('english')

csv_data['sentence']=csv_data['sentence'].apply(lambda x:" ".join(x for x in x.split() if x not in stop))
csv_data['sentence'].head(10)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

0                          5 Ala 740
1              Supreme Court Alabama
2                              ADAMS
3                                  v
4                  TANNER AND HORTON
5                          June Term
6                           Synopsis
7    WRIT Error Circuit Court Sumter
8
9                   West Headnotes 2
Name: sentence, dtype: object

In [0]:
# 1.2 Basic Text Pre-processing of text data
# (4) Frequent words removal

freq=pd.Series(' '.join(csv_data['sentence']).split()).value_counts()[:10]
freq=list(freq.index)

csv_data['sentence']=csv_data['sentence'].apply(lambda x:" ".join(x for x in x.split() if x not in freq))
csv_data['sentence'].head(10)

0                  740
1      supreme alabama
2                adams
3
4        tanner horton
5                 june
6             synopsis
7    writ error sumter
8
9       west headnotes
Name: sentence, dtype: object

In [0]:
# 1.2 Basic Text Pre-processing of text data
# (5) Rare words removal

random_rare=pd.Series(' '.join(csv_data['sentence']).split()).value_counts()[-10:]

random_rare=list(random_rare.index)
csv_data['sentence']=csv_data['sentence'].apply(lambda x:" ".join(x for x in x.split() if x not in rare))
csv_data['sentence'].head(10)

0                  740
1      supreme alabama
2                adams
3
4        tanner horton
5                 june
6             synopsis
7    writ error sumter
8
9       west headnotes
Name: sentence, dtype: object

In [0]:
from textblob import TextBlob

csv_data['sentence']=csv_data['sentence'].apply(lambda x: str(TextBlob(x).correct()))
csv_data['sentence'].head(10)

0                  740
1      supreme alabama
2                adams
3
4        manner norton
5                 june
6              sycosis
7    writ error sumter
8
9       west headnotes
Name: sentence, dtype: object

In [0]:

from nltk.stem import PorterStemmer
st=PorterStemmer()

csv_data['sentence']=csv_data['sentence'].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))
csv_data['sentence'].head(10)

0                  740
1       suprem alabama
2                 adam
3
4        manner norton
5                 june
6               sycosi
7    writ error sumter
8
9         west headnot
Name: sentence, dtype: object

In [0]:
from textblob import Word

import nltk
nltk.download('wordnet')
csv_data['sentence']=csv_data['sentence'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
csv_data['sentence'].head(10)

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

0                  740
1       suprem alabama
2                 adam
3
4        manner norton
5                 june
6               sycosi
7    writ error sumter
8
9         west headnot
Name: sentence, dtype: object

In [0]:
sentence=csv_data["sentence"] != ""
csv_data=csv_data[sentence]
csv_data=csv_data.reset_index(inplace=False)
csv_data['sentence'].head(10)

0                  740
1       suprem alabama
2                 adam
3        manner norton
4                 june
5               sycosi
6    writ error sumter
7         west headnot
8                    1
9      chattel mortgag
Name: sentence, dtype: object

In [0]:
data['sentence'].to_csv("clean.txt",header=False,index=False)

In [0]:
tf=(csv_data['sentence']).apply(lambda x: pd.value_counts(x.split(' '))).sum(axis=0).reset_index()
tf.columns=['word','frequency']
tf.head(10)

      word  frequency
0      Ala        8.0
1        5        6.0
2      740        2.0
3  Alabama        1.0
4  Supreme        1.0
5    Court        9.0
6    ADAMS        1.0
7        v       11.0
8   HORTON        1.0
9   TANNER        1.0

# 2. Python Regular Expression

## 2.1 Write a Python program to remove leading zeros from an IP address. 

ip = "260.08.094.109"

In [0]:
import re
ip="260.08.094.109"
str = re.sub('\.[0]*', '.', ip)
print(str)

260.8.94.109

## 2.2 Write a Python Program to extract all the years from the following sentence.

sentence = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."

In [0]:
import re
sentence = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump"
years = re.findall(r'2\d\d\d', sentence)
print(years)

['2010', '2010', '2019']